/* MENU */
nav a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  display: block;
  height: 50px;
  padding: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

a:hover {
  color: white;
}

.navPage ul {
  margin-top: 0;
  margin-bottom: 0;
}

.ulmenu li {
  display: inline-block;
}

.ulmenu li:hover {
  background: black;
}

/* Menu PAGE */
.headerPage {
  position: fixed;
  top: 0;
  width: 100%;
}

.barra {
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: black;
  font-family: "Estonia", cursive;
  margin-left: 70px;
  margin-bottom: 0;
  margin-top: 0;
}

.logo h1 {
  font-size: 40px;
  font-weight: bold;
}

.navPage {
  display: flex;
  align-items: center;
}

#botonMenu {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

/* Menu Para tablets */
@media (max-width: 991px) {
  .logo {
    margin-left: 20px;
  }

  .ulmenu li a {
    font-size: 12px;
  }
}
/* Menu para celulares */
@media (max-width: 767px) {
  #botonMenu {
    display: block;
  }

  .menuDeNav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: calc(100vh - 60px);
    background: rgba(27, 27, 27, 0.9);
    top: 60px;
    text-align: center;
    transition: all 0.5s;
    margin-left: -100%;
  }

  #listaMenu li {
    padding: 15px;
  }

  .ulmenu li a {
    font-size: 25px;
    color: white;
    padding: 15px;
  }

  .ulmenu li:hover {
    background: rgba(100, 99, 99, 0.9);
  }

  .mostrar {
    margin-left: 0;
  }
}
/* INICIO */
.vistaInicial {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: flex-end;
  justify-items: end;
  background-image: url(../imag/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btnComprar {
  padding: 30px;
  border-bottom: 70px;
}

.btnComprar a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  display: block;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}

.caracteristicas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  align-items: center;
  justify-items: center;
}

.caract {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.caract h3 {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px;
  align-items: center;
  justify-items: center;
}

#repServ {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 800px;
  align-items: center;
  justify-items: center;
  background-image: url(../imag/re.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.servRep h3 {
  color: white;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

#repAcc {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 800px;
  align-items: center;
  justify-items: center;
  background-image: url(../imag/ac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.servAcc h3 {
  color: white;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

#tituloRe {
  display: none;
}

#tituloAcc {
  display: none;
}

@media (max-width: 991px) {
  .servicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 767px) {
  .servicios {
    display: none;
  }
}
/* Testomonios */
.mainTestimonios {
  padding: 20px;
}

.testimonio {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
}

.testimonio img {
  width: 100%;
  height: 250px;
}

.containerTestimonios {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 10px;
  justify-content: center;
}

.testimonioDescripcion {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.iconoTesti {
  display: block;
  margin: 10px 0;
}

@media (max-width: 991px) {
  .containerTestimonios {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (max-width: 767px) {
  .containerTestimonios {
    grid-template-columns: repeat(1, 300px);
  }
}
/* TUTORIALES */
.tutoriales {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-items: center;
}

.tutorial {
  text-align: center;
}

.tituloTutoriales {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .tutoriales {
    grid-template-columns: 1fr;
  }

  .videoYoutube {
    width: 300px;
    height: 210px;
  }
}
/* COMPRAS/CATALOGO */
.mainProductos {
  padding: 20px;
}

.bannerPrincipal {
  background-image: url(../imag/banner.jpg);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.producto {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.producto img {
  width: 100%;
  height: 200px;
}

.containerProductos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
}

.productoTitulo {
  text-align: center;
  font-size: 20px;
}

.productoPrecio {
  color: #ffc107;
  font-weight: bold;
}

.iconoCarrito {
  display: block;
  margin: 10px 0;
}

#muestraCompra {
  padding: 20px;
  text-align: center;
}

.carritoCompra {
  padding: 50px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: silver;
}

.btn_continuar {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.iconoCarrito {
  cursor: pointer;
}

.principalCarrito {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#mostrarCarritoVacio {
  display: none;
}

#mensajeAlerta {
  display: none;
}

@media (max-width: 991px) {
  .containerProductos {
    grid-template-columns: repeat(2, 300px);
  }

  .principalCarrito {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .containerProductos {
    grid-template-columns: repeat(1, 300px);
  }

  .principalCarrito {
    grid-template-columns: 1fr;
  }
}
/* formulario */
.main__formulario {
  display: none;
  max-width: 800px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  font-family: "Nunito", sans-serif;
  background-color: silver;
}

.main__formulario h5 {
  text-align: center;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: span 2;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.1s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px #a3a3a3;
}

/* Validacion */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

@media screen and (max-width: 800px) {
  .formulario {
    grid-template-columns: 1fr;
  }

  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: span 1;
  }

  .formulario__btn {
    width: 100%;
  }

  .formulario {
    font-size: 12px;
  }
}
/* COMPRA FINAL */
.volverAComprar {
  display: none;
}

.compraFinal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.carritoFinal {
  padding: 50px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: silver;
}

#retornarACompra {
  padding: 20px;
  text-align: center;
}

.btn_volver {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.btn_volver a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  display: block;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}

#mensajeFinal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media (max-width: 991px) {
  .compraFinal {
    grid-template-columns: 1fr;
  }

  .volverAComprar {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .compraFinal {
    grid-template-columns: 1fr;
  }

  .volverAComprar {
    font-size: 12px;
  }
}
.footerPrincipal {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.footerPrincipal a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
