@import "menu";
@import "inicio";
@import "testimonios";
@import "tutoriales";
@import "catalogo";
@import "footer";


*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}